body#LoginForm{ background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}

.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.form-check-input {
    width: 30px;
    height: 30px;
}

.form-control {
    display: inline-flex;
    width: 150px;
}

.tab {
    margin-left: 70px;
}

.form-check-label {
    font-weight: bold;
}

.group-label {
    color:#fff;
    font-size: 20px;
    font-weight: bold;
}


.center {
    margin-left: 120px;
}

.btn {
    margin-left: 150px;
}